* {   
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.headerLogo {
    font-size: 32px;
    font-weight: 800;
    flex-shrink: 0;
    margin-right:20px;
}

.header {
    color:white;
    background-color: #1f2937;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 200px;
    padding-right: 200px;
    flex:0;
}

ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:20px;
    flex-shrink: 0;
}

li {
    color:white;
}

a {
    text-decoration: none;
    color:white;
}

.hero {
    height: 300px;
    background-color: #1f2937;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    flex-basis: 0;
    padding-top:80px;
    padding-bottom: 80px;
    gap:100px;
    flex-wrap:wrap;
}

.heroimage {
    height: 200px;
    width: 500px;
    flex-shrink: 0;
}

.herocontainer {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;

}

.herotitle {
    font-size: 42px;
    font-weight: 900;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.herotext {
    max-width: 600px;
    padding-bottom: 32px;
}

.button {
    background-color: #3882F6;
    color:white;
    width: 100px;
    padding:10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.information {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:60px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:120px;
    flex-wrap: wrap;
}

.card1, .card2, .card3, .card4 {
    width: 200px;
    text-align: center;
}


.infoimage {
    border-radius: 8px;
}

.informationheader {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    gap:20px;
}

.quotetext {
    width: 800px;
    font-size: 36px;
    color:#1f2937;
    font-style: italic;
    padding-top:80px;
}
.quoteattrib {
    align-self: flex-end;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 80px;
}

